Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.xsc
*.xss
*[Bb]in/
[Bb]in
[Dd]ebug*/
*/csx/*
*.sbr
obj/
[Rr]elease*/
packages/*
node_modules/*
_ReSharper*/
[Tt]est[Rr]esult*
*.suo
*.xsc
*.xss
*.jtconfig
*.dotCover
**/diagnostics.wadcfg
**/Scripts/**/*
.[iI]dea/
*.azurePubxml
