body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

#loading-wrapper {
    display: none;
    margin: 20px;
    min-height: 80px;
    position: relative;
}

.loading {
    bottom: 0;
    left: 50%;
    min-height: 50px;
    position: absolute;
    right: 0;
    top: 50%;
}

.loading:after {
    -moz-animation: preloader 500ms linear infinite;
    -webkit-animation: preloader 500ms linear infinite;
    animation: preloader 500ms linear infinite;
    background: #004476;
    border-radius: 3px;
    content: '';
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 50px;
}

.loading:before {
    -moz-animation: preloader-shadow 500ms linear infinite;
    -webkit-animation: preloader-shadow 500ms linear infinite;
    animation: preloader-shadow 500ms linear infinite;
    background: #000;
    border-radius: 50%;
    content: '';
    height: 5px;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    width: 50px;
}

@-moz-keyframes preloader {
    17% { border-bottom-right-radius: 3px; }

    25% {
        -moz-transform: translateY(9px) rotate(22.5deg);
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        -moz-transform: scale(1, 0.9) translateY(18px) rotate(45deg);
        border-bottom-right-radius: 40px;
        transform: scale(1, 0.9) translateY(18px) rotate(45deg);
    }

    75% {
        -moz-transform: translateY(9px) rotate(67.5deg);
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        -moz-transform: translateY(0) rotate(90deg);
        transform: translateY(0) rotate(90deg);
    }
}

@-webkit-keyframes preloader {
    17% { border-bottom-right-radius: 3px; }

    25% {
        -webkit-transform: translateY(9px) rotate(22.5deg);
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        -webkit-transform: scale(1, 0.9) translateY(18px) rotate(45deg);
        border-bottom-right-radius: 40px;
        transform: scale(1, 0.9) translateY(18px) rotate(45deg);
    }

    75% {
        -webkit-transform: translateY(9px) rotate(67.5deg);
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        -webkit-transform: translateY(0) rotate(90deg);
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes preloader {
    17% { border-bottom-right-radius: 3px; }

    25% {
        -moz-transform: translateY(9px) rotate(22.5deg);
        -ms-transform: translateY(9px) rotate(22.5deg);
        -webkit-transform: translateY(9px) rotate(22.5deg);
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        -moz-transform: scale(1, 0.9) translateY(18px) rotate(45deg);
        -ms-transform: scale(1, 0.9) translateY(18px) rotate(45deg);
        -webkit-transform: scale(1, 0.9) translateY(18px) rotate(45deg);
        border-bottom-right-radius: 40px;
        transform: scale(1, 0.9) translateY(18px) rotate(45deg);
    }

    75% {
        -moz-transform: translateY(9px) rotate(67.5deg);
        -ms-transform: translateY(9px) rotate(67.5deg);
        -webkit-transform: translateY(9px) rotate(67.5deg);
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        -moz-transform: translateY(0) rotate(90deg);
        -ms-transform: translateY(0) rotate(90deg);
        -webkit-transform: translateY(0) rotate(90deg);
        transform: translateY(0) rotate(90deg);
    }
}

@-moz-keyframes preloader-shadow {
    50% {
        -moz-transform: scale(1.2, 1);
        transform: scale(1.2, 1);
    }
}

@-webkit-keyframes preloader-shadow {
    50% {
        -webkit-transform: scale(1.2, 1);
        transform: scale(1.2, 1);
    }
}

@keyframes preloader-shadow {
    50% {
        -moz-transform: scale(1.2, 1);
        -ms-transform: scale(1.2, 1);
        -webkit-transform: scale(1.2, 1);
        transform: scale(1.2, 1);
    }
}